@use "@carbon/react";
@use "@carbon/react/scss/themes";
@use "@carbon/react/scss/theme";
@use '@carbon/colors';

:root {
	@include theme.theme(themes.$g10);
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  background-color: colors.$white;
}

body {
  display: flex;
}

.djs-cursor-grab {
  user-select: none !important;
}

.bjs-powered-by {
  right: initial !important;
  left: 15px !important;
}

.djs-palette, .djs-popup {
  box-shadow: var(--context-pad-box-shadow);
  border: none;
  border-radius: 4px;
}

#container {
  flex-grow: 1;
}

#chatbot-container {
  z-index: 1000;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-family: "IBM Plex Sans" !important;

  .cds--popover {
    display: none !important;
  }

  .chatbot-toggle {
    border-radius: 4px;
    box-shadow: var(--context-pad-box-shadow);
  }

  .chatbot {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 700px;
    box-shadow: var(--context-pad-box-shadow);
    border-radius: 4px;
    overflow: hidden;

    .chatbot-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: colors.$white;
      
      h1 {
        margin-left: 0.9375rem;
        font-size: 14px;
        font-weight: bold;
      }
    }

    .chatbot-messages {
      flex-grow: 1;
      background-color: colors.$gray-10;
      border-top: 1px solid colors.$gray-20;
      border-bottom: 1px solid colors.$gray-20;
      overflow-y: auto;

      .chatbot-message {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0.9375rem;

        &.chatbot-message-ai {
          .chatbot-message-bubble {
            background-color: colors.$white;
            border: 1px solid colors.$gray-20;

            .cds--inline-loading {
              height: 14px;
              min-height: auto;

              .cds--inline-loading__animation {
                margin: 0 2px;
              }
            }
          }

          .chatbot-message-avatar {
            margin-left: 0;
          }
        }

        &.chatbot-message-human {
          flex-direction: row-reverse;

          .chatbot-message-bubble {
            background-color: colors.$blue-60;
            border: 1px solid colors.$white;
            color: colors.$white;
          }

          .chatbot-message-avatar {
            margin-right: 0;
          }
        }

        .chatbot-message-avatar {
          margin: 0.9375rem;
        }

        .chatbot-message-bubble {
          padding: 0.9375rem;
          border-radius: 0.9375rem;
          background-color: colors.$gray-10;
          font-size: 14px;
        }
      }
    }

    .chatbot-examples {
      display: flex;
      flex-direction: column;
      position: relative;
      background-color: colors.$white;
      border-bottom: 1px solid #e0e0e0;

      .chatbot-examples-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        h2 {
          margin-left: 0.9375rem;
          font-size: 14px;
          font-weight: bold;
        }

        .chatbot-close-examples {
          margin: 2px;
          border-radius: 4px;
        }
      }

      .chatbot-example {
        display: flex;
        width: min-content;
        white-space: nowrap;
        align-items: center;
        min-block-size: auto;
        font-size: 14px;
        margin: 4px 0.9375rem;
        border-radius: 0.9375rem;
        background-color: colors.$gray-10;
        cursor: pointer;

        &:last-child {
          margin-bottom: 0.9375rem;
        }

        &:hover {
          background-color: colors.$gray-20;
        }

        svg {
          margin-left: 8px;
        }
      }
    }

    .chatbot-input {
      display: flex;
      flex-direction: column;
      background-color: colors.$white;
      padding: 2px;

      i {
        font-style: italic;
      }

      textarea {
        resize: none;
        border-bottom: none !important;
        background-color: transparent;
        font-size: 14px;
        outline: none;

        &::placeholder {
          color: colors.$gray-50;
          font-size: 14px;
        }
      }

      &:has(textarea:focus) {
        outline: 2px solid colors.$blue-60;
        outline-offset: -2px;
      }

      .chatbot-input-controls {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 2px;

        .chatbot-input-controls-left {
          flex-grow: 1;
        }

        button {
          font-size: 14px;
          height: 36px;
          border-radius: 4px;
          color: var(--cds-icon-primary);
        }

        svg {
          block-size: auto;
          inline-size: auto;
          margin-block-start: 2px;
        }
      }
    }
  }
}

#undo-redo {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 4px;
  overflow: hidden;
  background-color: colors.$white;
  box-shadow: var(--context-pad-box-shadow);

  button:first-child {
    margin-right: 1px;
  }

  .cds--icon-tooltip--disabled .cds--tooltip-trigger__wrapper {
    cursor: default;
  }

  .cds--popover {
    display: none !important;
  }
}
